.hermes-logo {
  height: 250px;
}

.contacts {
  
  &-container {
    vertical-align: top;
  }

  &__wrapper {
    background: #FAF7F8;
    margin: 40px 0;
    padding-top: 20px;

    .col-md-20 {
      padding-top: 30px;
    }

    ul {
      list-style: none;
    }
  }

  &__column {
    padding: 10px 20px;
    vertical-align: top;
  }

  &__label {
    font-size: 18px;
    color: #21518F;

  }
}
