html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

img {
  width: 100%;
}

.pdp {
  margin: 0 10px;
}