.sorting {

  &__wrapper {
    margin: 20px 27px;
  }

  &__dropdown {
    position: relative;
    display: inline-block;

    .custom_dropdown {
      top: 40px;
      width: 120px;
    }
  }

  &__choosen_one {
    font-size: 19px;
    line-height: 40px;
    width: 120px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #7A7F7D;
    padding: 0 6px;

    &:after {
      position: absolute;
      top: 17px;
      right: 5px;
      content: '';
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #14141C;
    }
  }
}
